.Student-info {
    background-color: red;
    h1 {
        padding: 20px;
    }
    li {
        padding: 10px;
        text-transform: capitalize;
        border: 2px solid #fff;
        font-weight: 800;
    }
}