.studentWrapper {
    flex: 1 0 200px;
    border: 1px solid black;
    margin: 20px;
    box-shadow: 2px 2px grey;
}

.images {
    display: flex;
    justify-content: space-around;
    align-content: center;
    border: 1px solid black;
    margin: 5px;
    span {
        padding: 0 10px;
    }
}

.img {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 5px;
}
